<section class="interface">
  <div class="navigation">
    <div class="nl">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <div class="profile">
      <i class="fas fa-bell"></i>
      <img src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-18.jpg" alt="" />
    </div>
  </div>
  <h3 class="i-name">Dashboard</h3>

  <div class="values">
    <div class="val-box">
      <div class="val-img">
        <img src="/assets/images/patients-icon.png" alt="">
      </div>
      <div>
        <h3>{{patientLength}}</h3>
        <span>Patients</span>
      </div>
    </div>
    <div class="val-box">
      <div class="val-img">
        <img src="/assets/images/doctors-icon.png" alt="">
      </div>
      <div>
        <h3>{{dentistLength}}</h3>
        <span>Doctors</span>
      </div>
    </div>
    <div class="val-box">
      <div class="val-img">
        <img src="/assets/images/services-icon.png" alt="">
      </div>
      <div>
        <h3>{{serviceLength}}</h3>
        <span>Services</span>
      </div>
    </div>
    <div class="val-box">
      <div class="val-img">
        <img src="/assets/images/salary-icon.png" alt="">
      </div>
      <div>
        <h3>{{totalSalary | currency}}</h3>
        <span>Total Salary</span>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="table-name">Patient Summary</h1>

    <div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="patientDataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Firstname</th>
            <td mat-cell *matCellDef="let row"> {{row.first_nm}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
            <td mat-cell *matCellDef="let row"> {{row.last_nm}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="dentist">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dentist</th>
            <td mat-cell *matCellDef="let row"> Dr. {{row.dentistId.first_nm}} {{row.dentistId.last_nm}} </td>
          </ng-container>

          <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
            <td mat-cell *matCellDef="let row"> {{row.serviceId.serviceName}} </td>
          </ng-container>

          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
            <td mat-cell *matCellDef="let row"> {{row.serviceId.serviceCost | currency}} </td>
          </ng-container>

          <!-- Fruit Column -->

          <tr mat-header-row *matHeaderRowDef="patientColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: patientColumns;"></tr>

          <!-- Row shown when there is no matching data. -->

        </table>
        <mat-paginator [pageSizeOptions]="[3, 12, 18, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
  <h1 class="doc-msg">Doc's Message</h1>
  <div class="dash-flex">
    <div class="doc-card">
      <div *ngFor="let dentist of dentists" class="doc-list">
        <div class="profile-image">
          <img src="{{dentist.docImg}}" alt="">
        </div>
        <div class="profile-content">
          <h1>Dr {{dentist.last_nm}}</h1>
          <p>{{dentist.docDescrip}} </p>
        </div>
      </div>
    </div>
    <div class="chart">
      <app-chart1></app-chart1>

    </div>

  </div>

</section>