<div class="appoint-background">
  <div class="overlay"></div>

  <div class="heading">
    <h1>Book an appointment</h1>
  </div>

</div>

<div class="stepper-background">

  <mat-stepper class="stepper-con" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>General Info</ng-template>
        <mat-label class="radio-label">Have you visited our clinic before?</mat-label>
        <mat-radio-group class="radio-field" aria-label="Select an option">
          <mat-radio-button value="yes">Yes</mat-radio-button>
          <mat-radio-button value=" No">No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="select-field" appearance="outline">
          <mat-label>Reason For Your Visit?</mat-label>
          <mat-select formControlName="services">
            <mat-option value="volvo">Extraction</mat-option>
            <mat-option value="saab">Cleaning</mat-option>
            <mat-option value="mercedes">Root Canals</mat-option>
            <mat-option value="audi">Braces</mat-option>
          </mat-select>
          <mat-hint>Choose a Service</mat-hint>
          <mat-error *ngIf="firstFormGroup.get('services')?.hasError('required')&& firstFormGroup.get('services')?.touched">Please Select a Service</mat-error>
        </mat-form-field>

        <div>
          <button class="next-btn" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Personal Information</ng-template>

        <div class="name">
          <div class="first">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="first_nm" placeholder="Ex. 1 Main St, New York, NY" required>
              <mat-hint>Enter You First Name</mat-hint>
              <mat-error *ngIf="secondFormGroup.get('first_nm')?.hasError('required')&& secondFormGroup.get('first_nm')?.touched">Your Firstname is required</mat-error>
            </mat-form-field>
          </div>
          <div class="sec">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="last_nm" placeholder="Ex. 1 Main St, New York, NY" required>

              <mat-hint>Enter You last Name</mat-hint>
              <mat-error *ngIf="secondFormGroup.get('last_nm')?.hasError('required')&& secondFormGroup.get('last_nm')?.touched">Your lastname is required</mat-error>

            </mat-form-field>
          </div>

        </div>

        <div class="contact">
          <div class="mail">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" formControlName="email" name="email" matInput placeholder="Placeholder">
              <mat-hint>Enter Email Address</mat-hint>
              <mat-error *ngIf=" secondFormGroup.get('email')?.touched">
                <mat-error *ngIf="secondFormGroup.get('email')?.hasError('required')">
                  Please Enter your Email Address</mat-error>
                <mat-error *ngIf="secondFormGroup.get('email')?.hasError('email') && secondFormGroup.get('email')?.touched">
                  Invalid Email Address</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="num">
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="mobile" placeholder="Ex. 1 Main St, New York, NY" required>

              <mat-hint>Enter phone number</mat-hint>
              <mat-error *ngIf="secondFormGroup.get('mobile')?.hasError('required')&& secondFormGroup.get('mobile')?.touched">Phone number required</mat-error>
            </mat-form-field>
          </div>
        </div>


        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input formControlName="dob" name="dob" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="secondFormGroup.get('dob')?.hasError('required') && secondFormGroup.get('dob')?.touched">
            Date of
            Birth required</mat-error>
        </mat-form-field>



        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Age</mat-label>
          <input formControlName="age" matInput placeholder="Ex. 1 Main St, New York, NY" required>
          <mat-hint>Enter your patient's Age</mat-hint>
          <mat-error *ngIf="secondFormGroup.get('age')?.hasError('required') && secondFormGroup.get('age')?.touched">
            Age is required</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Address</mat-label>
          <input type="text" name="address" formControlName="address" matInput placeholder="Placeholder">
          <mat-hint>Enter your Address</mat-hint>

          <mat-error *ngIf="secondFormGroup.get('address')?.hasError('required') && secondFormGroup.get('address')?.touched">
            Address is required</mat-error>
        </mat-form-field>
        <div>
          <button class="next-btn" mat-button matStepperNext>Next</button>
          <button class="back-btn" mat-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div class="form-image">
        <img src="/assets/images/form-complete.png" alt="">
      </div>
      <div>
        <button class="back-btn" mat-button matStepperPrevious>Back</button>
        <button class="reset-btn" mat-button (click)="stepper.reset()">Reset</button>
        <button class="submit-btn" mat-button>Submit</button>
      </div>
    </mat-step>
  </mat-stepper>

</div>