<div class="login-background">
    <div class="overlay"></div>
    <div class="login-content">
        <div class="welcome">
            <h2>Morgana Sign Up</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto quod aut, asperiores itaque ex quam explicabo voluptas aliquam dol</p>
        </div>
        <div class="login-form">
          <form action="">
            <h2>Register Today</h2>
            <mat-form-field class="form-field" appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="standard">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
              <button>Sign Up</button>
              <p>Already have an account? <a href="">Login</a></p>
          </form>
        </div>
    </div>
  </div>