<section class="interface">
  <div class="navigation">
    <div class="nl">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" #input placeholder="Search" />
      </div>
    </div>
    <div class="profile">
      <i class="fas fa-bell"></i>
      <img src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-18.jpg" alt="" />
    </div>
  </div>

  <h2 class="heading">Patient List</h2>

  <div class="board">
    <table width="100%">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>email</th>
          <th>Registration Date</th>
          <th>Appointment Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{patient.first_nm}}</td>
          <td>{{patient.last_nm}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.regDate | date}}</td>
          <td>{{patient.appointDate | date}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</section>