<section class="cards">
    <ul class="cards__list">
      <li id="slide-card-1" class="card">
        <blockquote>
          This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
          <cite>Jonathan Swift</cite>
        </blockquote>
      </li>
      <li id="slide-card-2" class="card">
        <blockquote>
          It was some time before he obtained any answer, and the reply, when made, was unpropitious.
          <cite>Sir Walter Scott</cite>
        </blockquote>
      </li>
      <li id="slide-card-3" class="card">
        <blockquote>
          She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.
          <cite>charles dickens</cite>
        </blockquote>
      </li>
      <li id="slide-card-4" class="card">
        <blockquote>
          Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it.
          <cite>Jonathan Swift</cite>
        </blockquote>
      </li>
    </ul>
  </section>