<div class="search-background">
  <div class="overlay"></div>
  <div class="search-header">
    <h2>Search your Appointment</h2>
  </div>
  <div class="search-con">
    <form action="" [formGroup]="searchForm">
      <input class="search" placeholder="Enter your email...." name="email" formControlName="email" type="text"><button class="search-btn" (click)="searchPatient()">Search</button>
    </form>
  </div>
</div>
<div *ngIf="!patient" class="search-contents">
  <div class="results">
    <button routerLink="/appoint" class="appoint-btn">book Appointment</button>
  </div>

</div>
<div *ngIf="patient" class="profile">
  <div class="profile-con">
    <div class="profile-card">
      <div class="profile-image">
        <img src="/assets/images/noProfile.jpg" alt="">
      </div>
      <div class="profile-content">
        <h2>{{patient.first_nm}}'s Profile</h2>
        <fieldset class="field1">
          <legend>Personal Info</legend>
          <div class="name">
            <div class="fname">
              <p><span>First Name: </span>{{patient.first_nm}}</p>
            </div>
            <div>
              <p><span>Last Name: </span> {{patient.last_nm}}</p>
            </div>
          </div>

          <div class="dob">
            <div class="email">
              <p><span>Email: </span> {{patient.email}}</p>
            </div>
            <div>
              <p><span>Age: </span> {{patient.age}}</p>
            </div>
          </div>
          <div class="other">
            <div class="address">
              <p> <span>Address: </span> {{patient.address}}</p>
            </div>
            <div>
              <p><span>Date of Birth: </span>{{patient.dob | date}} </p>

            </div>
          </div>
        </fieldset>
        <fieldset class="field2">
          <legend>General Details</legend>
          <div class="name">
            <div class="reg">
              <p><span>Registration Date: </span>{{patient.regDate | date}}</p>
            </div>
            <div>
              <p><span>Appointment Date: </span> {{patient.appointDate| date}}</p>
            </div>
          </div>
          <div class="dob">
            <div class="service">
              <p><span>Service Name: </span> {{patient.serviceId.serviceName}}</p>
            </div>
            <div>
              <p><span>Service Cost: </span>{{patient.serviceId.serviceCost | currency}}</p>
            </div>
          </div>

          <div class="other">
            <div class="dentist">
              <p> <span>Dentist: </span>Dr {{patient.dentistId.first_nm}} {{patient.dentistId.last_nm}}</p>
            </div>
            <div>
              <p><span>Doctor's Email: </span>{{patient.dentistId.email}} </p>

            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>