<div class="hide-foot" [ngClass]="headerRoute('/register') || headerRoute('/editService')  || headerRoute('/appoint')  || headerRoute('/addService')
 || headerRoute('/login') || headerRoute('/dashboard')|| headerRoute('/appointments') ||headerRoute('/bookappoints') || 
 headerRoute('/appointEdit') || headerRoute('/patientDetails/') || headerRoute('/dentistList') ||
  headerRoute('/addDentist') || headerRoute('/editDentist') || headerRoute('/viewMore')  || headerRoute('/serviceList')  ||
  headerRoute('/userList')|| headerRoute('/addUser') || headerRoute('/editUser') ? 'hide' : 'show'">
  <nav>
    <div class="logo"><img [routerLink]="['/']" src="/assets/images/logo3.0.png" alt=""></div>
    <div class="main-nav">
      <a [routerLink]="['/']"><span>Home</span></a>
      <a href="#about"><span>About</span></a>
      <a href="#services"><span>Services</span></a>
      <a href="#staff"><span>Staff</span></a>
      <a href="#news"><span>News</span></a>
      <a [routerLink]="['/search']">My Chart</a>
    </div>
    <div class="book">
      <a *ngIf="!authenticated" [routerLink]="['/login']"><span>Login</span></a>
      <a (click)="logOut()" *ngIf="authenticated"><span>Log out</span></a>
    </div>
  </nav>
  <div class="sub-nav">
    <div class="icon">
      <div class="icon-img">
        <img src="/assets/images/location-pngrepo-com.png" alt="" />
      </div>
      <div class="icon-content">
        <span>123 linsdale ave</span>
        <label>Kingston,Jamaica</label>
      </div>
    </div>
    <div class="icon">
      <div class="icon-img">
        <img src="/assets/images/alarm-clock-pngrepo-com (2).png" alt="" />
      </div>
      <div class="icon-content">
        <span>Opening Hours</span>
        <label>Mon-Sat 8:00-19:00</label>
      </div>
    </div>
    <div class="icon">
      <div class="icon-img"><img src="/assets/images/telephone-pngrepo-com.png" alt="" /></div>
      <div class="icon-content">
        <span>1(876) 842-7815</span>
        <label>Call us Now</label>
      </div>
    </div>
    <div class="icon">
      <div class="icon-img"><img src="/assets/images/agenda-pngrepo-com.png" alt="" /></div>
      <div class="icon-content">
        <span>Here Since</span>
        <label>1895</label>
      </div>
    </div>
  </div>
</div>