<div class="login-background">
    <div class="overlay"></div>
    <div class="login-content">
        <div class="welcome">
            <h2>Morgana Login</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto quod aut, asperiores itaque ex quam explicabo voluptas aliquam dol</p>
        </div>
        <div class="login-form">
          <form action="">
            <h2>Hello,<br> Welcome Back</h2>
            
            <mat-form-field class="form-field" appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>

              <mat-form-field class="form-field" appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder">
              </mat-form-field>
              <p>Forget Password?</p>
              <button>Login Now</button>
              <p>Don't have an account? <a [routerLink]="['/register']">sign up</a></p>
          </form>
        </div>
    </div>
  </div>