<div class="appointment-form">

  <div class="appoint-form">
    <div class="form-background"></div>


    <div class="book-form">
      <img routerLink="/appointments" src="/assets/images/close.png" alt="">
      <form *ngIf="appointForm" [formGroup]="appointForm">
        <h2>Edit Appointment</h2>
        <div class="name">
          <div class="first">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput value="{{patient.first_nm}}" name="first_nm" formControlName="first_nm" required>
              <mat-hint>Enter You First Name</mat-hint>
              <mat-error *ngIf="appointForm.get('first_nm')?.hasError('required')&& appointForm.get('first_nm')?.touched">Your Firstname is required</mat-error>
            </mat-form-field>
          </div>
          <div class="sec">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput name="last_nm" value="{{patient.last_nm}}" formControlName="last_nm" required>

              <mat-hint>Enter You last Name</mat-hint>
              <mat-error *ngIf="appointForm.get('last_nm')?.hasError('required')&& appointForm.get('last_nm')?.touched">Your lastname is required</mat-error>

            </mat-form-field>
          </div>

        </div>

        <div class="contact">
          <div class="mail">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" value="{{patient.email}}" formControlName="email" name="email" matInput>
              <mat-hint>Enter Email Address</mat-hint>
              <mat-error *ngIf=" appointForm.get('email')?.touched">
                <mat-error *ngIf="appointForm.get('email')?.hasError('required')">
                  Please Enter your Email Address</mat-error>
                <mat-error *ngIf="appointForm.get('email')?.hasError('email') && appointForm.get('email')?.touched">
                  Invalid Email Address</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="num">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" value="{{patient.phoneNumber}}" name="phoneNumber" required>

              <mat-hint>Enter phone number</mat-hint>
              <mat-error *ngIf="appointForm.get('phoneNumber')?.hasError('required')&& appointForm.get('phoneNumber')?.touched">Phone number required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="other">
          <div class="third">

            <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
              <mat-label>Age</mat-label>
              <input formControlName="age" value="{{patient.age}}" name="age" matInput required>
              <mat-hint>Enter your patient's Age</mat-hint>
              <mat-error *ngIf="appointForm.get('age')?.hasError('required') && appointForm.get('age')?.touched">
                Age is required</mat-error>
            </mat-form-field>

          </div>
          <div class="add">
            <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
              <mat-label>Address</mat-label>
              <input type="text" name="address" value="{{patient.address}}" formControlName="address" matInput>
              <mat-hint>Enter your Address</mat-hint>

              <mat-error *ngIf="appointForm.get('address')?.hasError('required') && appointForm.get('address')?.touched">
                Address is required</mat-error>
            </mat-form-field>
          </div>

        </div>


        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input formControlName="dob" value="{{patient.dob}}" name="dob" matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-hint>Enter your date of birth</mat-hint>
          <mat-error *ngIf="appointForm.get('dob')?.hasError('required') && appointForm.get('dob')?.touched">
            Date of
            Birth required</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Select Appointment</mat-label>
          <input formControlName="appointDate" value="{{patient.appointDate}}" name="appointDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Enter your date of birth</mat-hint>
          <mat-error *ngIf="appointForm.get('appointDate')?.hasError('required') && appointForm.get('appointDate')?.touched">
            Select Appointment Date</mat-error>
        </mat-form-field>


        <mat-form-field hideRequiredMarker class="select-field" appearance="outline">
          <mat-label>Select a Dentist</mat-label>
          <mat-select formControlName="dentistId" name="dentistId">
            <mat-option *ngFor="let dentist of dentists" value="{{dentist._id}}">Dr {{dentist.first_nm}} {{dentist.last_nm}}</mat-option>
          </mat-select>
          <mat-hint>Choose a Dentist</mat-hint>
          <mat-error *ngIf="appointForm.get('dentistId')?.hasError('required')&& appointForm.get('dentistId')?.touched">Please Select a Dentist</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker class="select-field" appearance="outline">
          <mat-label>Select a Service</mat-label>
          <mat-select formControlName="serviceId" name="serviceId">
            <mat-option *ngFor="let service of services" value="{{service._id}}">{{service.serviceName}}</mat-option>
          </mat-select>
          <mat-hint>Choose a Service</mat-hint>
          <mat-error *ngIf="appointForm.get('serviceId')?.hasError('required')&& appointForm.get('serviceId')?.touched">Please Select a Service</mat-error>
        </mat-form-field>




        <button (click)="updatePatient()" class="submit-btn">Update Appointment</button>
      </form>
    </div>
  </div>
</div>