<div class="dashboard" [ngClass]="dashRoute('/patients') || dashRoute('/dashboard') || dashRoute('/appointments') || dashRoute('/patientDetails') || dashRoute('/dentistList') || dashRoute('/viewMore')|| dashRoute('serviceList') || dashRoute('/userList')  ? 'show' : 'hide'">

  <section class="menu">
    <div class="logo">
      <h1>Morgana Dental</h1>
    </div>
    <div class="items">
      <a routerLink="/dashboard">
        <li><i class="fas fa-chart-bar"></i>Dashboard</li>
      </a>
      <a routerLink="/appointments">

        <li> <img src="/assets/images/apointment-icon.png" alt="">Appointments</li>
      </a>

      <a routerLink="/userList">
        <li><img src="/assets/images/patients-icon.png" alt="">Users</li>
      </a>

      <a routerLink="/dentistList">
        <li><img src="/assets/images/doctors-icon.png" alt="">Doctors</li>
      </a>

      <a routerLink="/serviceList">
        <li><img src="/assets/images/bill-icon.png" alt="">Services</li>
      </a>

      <a (click)="onLogOut()">
        <li class="logout"><i class="fas fa-sign-out-alt"></i>logout</li>
      </a>
    </div>

  </section>



</div>