<div class="foot-hide" [ngClass]="footerRoute('/register') || footerRoute('/login') ? 'hide' : 'show'">
<footer>
    <div class="overlay"></div>
    <div class="headings">
        <div class="about">
        <h1 class="half-underline">Clinic information</h1>
        <!-- <img src="/assets/images/logo3.png" alt=""> -->
        <img src="/assets/images/foot-img.jpg" alt="">
        <p>Morgana Dental Clinic is a premier multi-specialty Dental service provider in Southern Jamaica. We're based in St Andrew but patient across the country and abroad are visiting us for our quality medical care, <a href="">Read More</a></p>
        </div>

        <div class="services">
            <h1 class="half-underline">Services</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique nihi</p>
            <a href=""><span><mat-icon>arrow_right</mat-icon>Teeth Whitening</span></a>
            <a href=""><span><mat-icon>arrow_right</mat-icon>Teeth cleaning</span></a> 
            <a href=""><span><mat-icon>arrow_right</mat-icon>Root Canal</span></a>
            <a href=""><span><mat-icon>arrow_right</mat-icon>lorem</span></a>
            <a href=""><span><mat-icon>arrow_right</mat-icon>lorem</span></a>
        </div>

        <div class="interest">
            <h1 class="half-underline">May be Intreseted?</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, ut magnam. Architecto magni et</p>
           <a href=""><span><mat-icon>arrow_right</mat-icon>Diagnostic Center</span></a>
           <a href=""><span><mat-icon>arrow_right</mat-icon>Morgana Hospital</span></a>
           <a href=""><span><mat-icon>arrow_right</mat-icon>Morgana Clinic</span></a>
           <a href=""><span><mat-icon>arrow_right</mat-icon>Find A Doctor</span></a>
        </div>

        <div class="news">
            <h1 class="half-underline">Email Newsletter</h1>
            <p>sign up  with your email to  get updates</p>
            <input type="text">
            <button>Subscibe</button>
            <p>or follow our social profile</p>
            <div class="social">
                <i class="fas fa-facebook"></i>
                <i class="fas fa-instagram"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-snapchat" aria-hidden="true"></i>
            </div>
        </div>
    </div>


</footer>

<div class="copy">
    <label for="">©Copyright 2021 | all rights reserved</label>
</div>

</div>