<div class="users">
  <div class="userform">
    <div class="login-background"></div>
    <div class="login-content">
      <div class="login-form">
        <img routerLink="/userList" src="/assets/images/close.png" alt="">
        <form action="" [formGroup]="userForm" (submit)="onSubmit()">
          <h2>AddUser</h2>
          <mat-form-field hideRequiredMarker class=" form-field" appearance="standard">
            <mat-label>Username</mat-label>
            <input type="email" formControlName="username" name="username" matInput placeholder="Placeholder">
            <!-- <mat-hint>Enter Email Address</mat-hint> -->
            <mat-error *ngIf="userForm.get('username')?.hasError('required')&& userForm.get('username')?.touched">Username is required</mat-error>
          </mat-form-field>


          <mat-form-field hideRequiredMarker class="form-field" appearance="standard">
            <mat-label>Email</mat-label>
            <input type="email" formControlName="email" name="email" matInput placeholder="Placeholder">
            <!-- <mat-hint>Enter Email Address</mat-hint> -->
            <mat-error *ngIf=" userForm.get('email')?.touched">
              <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                Please Enter your Email Address</mat-error>
              <mat-error *ngIf="userForm.get('email')?.hasError('email') && userForm.get('email')?.touched">
                Invalid Email Address</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="form-field" appearance="standard">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput placeholder="Placeholder">

            <!-- <mat-hint>Enter Your Password</mat-hint> -->
            <mat-error *ngIf="userForm.get('password')?.hasError('required')&& userForm.get('password')?.touched">Password is required</mat-error>
          </mat-form-field>

          <mat-form-field hideRequiredMarker class="form-field" appearance="standard">
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="cpassword" name="cpassword" matInput placeholder="Placeholder">
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <!-- <mat-hint>Enter your username</mat-hint> -->
            <mat-error *ngIf="userForm.get('cpassword')?.touched">
              <mat-error *ngIf="userForm.get('cpassword')?.hasError('required')">
                password required</mat-error>
              <mat-error *ngIf="userForm.get('cpassword')?.hasError('matching') && userForm.get('cpassword')?.touched">
                Passwords do not match</mat-error>
            </mat-error>
          </mat-form-field>
          <button type="submit">Add User</button>
          <!-- <p>Already have an account? <a [routerLink]="['/login']">Login</a></p> -->
        </form>
      </div>
    </div>
  </div>
</div>