.interface{
    margin-left: 240px;
    background-color: #f7f5f5;
    padding-bottom: 4rem;
}

.interface .navigation{
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #007fbe;
    
}

.interface .navigation .search{
    display: flex;
    margin-right: 47rem;

    align-items: center;
    padding: 10px 14px;
    border-radius: 4px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;

}

.interface .navigation .search i{
    margin-right: 14px;
}

.interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

.interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.interface .navigation .profile i{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

.interface .navigation .profile img{
    width: 30px;
    height:30px;
    object-fit: cover;
    border-radius: 50%;
}

.dentlist-background{
    background-image: url('https://img.freepik.com/premium-vector/doctors-installing-braces-orthodontic-clinic-dental-doctor-uniform-treating-human-teeth-with-braces-prosthetics-dental-care-orthodontic-treatment-cosmetic-odontology_458444-1239.jpg?w=900');
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 15rem;
}

.table-label{
    margin-top: 2rem;
    display: flex;
    margin-left: 2.8rem;
    height: fit-content;
}


.container {
    max-width: 1020px;
    // position: relative;
    margin-left: 2rem;
    margin-top: 2rem;
   
   
}

.appoint-btn{
    position: relative;
    top :1.5rem;
    display: block;
    margin-left: 74%;
    background-color: #007fbe;
    border-radius: .2rem;
    width: 7.8rem;
    height: 2.5rem;
    color: white;
    border: none;
    margin-bottom: 1.1rem;
    text-align: center;
}

table {
    width: 100%;
    height: 9rem;
    border-radius: .4rem;
}

.mat-form-field {
    font-size: 2px;
    width: 100%;
}

td,
th {
    font-size: 14px;
   
    color: #777;
    // font-family: 'Times New Roman', Times, serif
}


.end-background {
    display: flex;
    // justify-content: center;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-family: "Italianno", cursive;
        font-size: 70px;

    }

    img {
        position: relative;
        width: 20rem;
        height: 10rem;
    }
}


.table-name {
    margin-top: 2rem;
 
    color: #777;
    // font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.mat-header-cell {
    // color: #437bf5;
    // font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

.doc-card{
   
    border-radius: 5px 5px 0px 0px;
    
    width: fit-content;

    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 2.5rem;
   

   

    .doc-list{
        background-color: #fff;
        padding: 8px;
        display: flex;
        margin-bottom: .6rem;

        
       
       
      

        .profile-image{
            margin-right: 1.5rem;

            img{
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }
        }

        .profile-content{
            width: 28rem;
           h1{
            color: #777;
            font-size: 14px;
           }
           p{
            color: rgb(87, 86, 86);

           }
        }
    }
}


  

   
  .cards {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 2rem;
    padding: 0;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    width: 20rem;
  
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card__image {
    img{
        width: 20rem;
        height: 15rem;
    }
 
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
   
  }
  

  .card__title {
    color: #007fbe;
    font-size: 1.25rem;
    margin-bottom: .4rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    color: #777;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  .card__price {
    color: gold;
    flex: 1 1 auto;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }

  .card__edit {
    width: 25px;
    margin-right: .4rem;
    

  }

  .card__remove {
    width: 25px

  }

  .card__action{
    display: flex;
    margin-left: 14.5rem;
  }