<section class="interface">
  <div class="navigation">
    <div class="nl">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" (keyup)="applyFilter($event)" #input placeholder="Search" />
      </div>
    </div>
    <div class="profile">
      <i class="fas fa-bell"></i>
      <img src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-18.jpg" alt="" />
    </div>
  </div>

  <div class="dentlist-background">


  </div>




  <div class="appoint">
    <div class="container">
      <div class="table-label">
        <h1 class="table-name">Services List</h1>
        <button routerLink="/addService" class="appoint-btn">Add Service</button>

      </div>
      <div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="serviceDataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="serviceName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Service</th>
              <td mat-cell *matCellDef="let row"> {{row.serviceName}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="serviceCost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
              <td mat-cell *matCellDef="let row"> {{row.serviceCost | currency}} </td>
            </ng-container>

            <!-- Name Column -->
            <!-- <ng-container matColumnDef="serviceDescrip">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Desscription</th>
              <td mat-cell *matCellDef="let row">{{row.serviceDescrip}}</td>
            </ng-container> -->


            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
              <td mat-cell *matCellDef="let row">
                <button [ngStyle]="{'color':'blue','border':'none','background-color':'transparent','cursor':'pointer','margin-right':'6px'}">
                  <img routerLink="/editService/{{row._id}}" src="/assets/images/edit.png" width="20px" alt="">
                </button>
                <button (click)="deleteService(row._id)" [ngStyle]="{'color':'red','border':'none','background-color':'transparent', 'margin-right':'6px','cursor':'pointer'}">
                  <img src="/assets/images/delete.png" width="20px" alt="">
                </button>
              </td>
            </ng-container>

            <!-- Fruit Column -->

            <tr mat-header-row *matHeaderRowDef="serviceColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: serviceColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

        </div>
      </div>


    </div>



  </div>
</section>