<section class="interface">
  <div class="navigation">
    <div class="nl">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" (keyup)="applyFilter($event)" #input placeholder="Search" />
      </div>
    </div>
    <div class="profile">
      <i class="fas fa-bell"></i>
      <img src="https://icon-library.com/images/no-profile-picture-icon/no-profile-picture-icon-18.jpg" alt="" />
    </div>
  </div>
  <div class="dentlist-background"></div>
  <div class="appoint">
    <div class="table-label">
      <h1 class="table-name">Services List</h1>
      <button routerLink="/addService" class="appoint-btn">Add Service</button>
    </div>

    <ul class="cards">
      <li class="cards__item" *ngFor="let service of services">
        <div class="card">
          <div class="card__image">
            <img src="{{service.serviceImg}}" alt="">
          </div>
          <div class="card__content">
            <div class="card__title">{{service.serviceName}}</div>
            <p class="card__text">{{service.serviceDescrip}}</p>
            <span class="card__price">{{service.serviceCost | currency}}</span>
            <!-- <button class="btn btn--block card__btn">Button</button> -->
            <div class="card__action">
              <img title="edit" routerLink="/editService/{{service._id}}" class="card__edit" src="/assets/images/card-edit.png" alt="">
              <img title="delete" (click)="deleteService(service._id)" class="card__remove" src="/assets/images/remove.png" alt="">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>