.home-video{
    position: relative;
    height:450px;
    width:100%;
    background-image: url('/assets/images/home-img.jpg');
    background-position: center;

    .overlay {
        position: absolute;
        bottom: 0;
        background-image: linear-gradient( 135deg, #0654ae 10%, #7ff4ff 100%);
        opacity: 0.3;
       
        /* Black see-through */
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    .home-content{
        color: #fff;
        position: absolute;
        padding-top: 8rem;
        padding-left: 8rem;


        h1{
            margin-bottom: 1.5rem;
            font-size: 45px;

        }

        p{
            font-size: 18px;
            width: 25rem;
            line-height: 1.5rem;
            letter-spacing:1.5px;

        }
        a{
            padding: 15px;
            background-color: rgb(250, 139, 47);
            color: #fff;
            display: block;
            width: 8rem;
            text-align: center;
            border-radius: .4rem;
            margin-top: 2rem;


        }
    }

}

section{
    

.aboutus{
    // background-color: rgb(240, 239, 239);
    padding-top: 1.5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;

    .content{
       

        h1{

        }
        p{
            line-height: 2rem;
            width: 26rem;
        }

        a{
            background-color: #6cb1ff;
            display: block;
            width: 6rem;
            padding: 8px;
            border-radius: 1rem;
            color: white;
            text-align: center;
            
        }

    }

    .about-image{
        img{
            width: 30rem;
            height: 18rem;
        }

        p{
            width: 28rem;
            line-height: 2rem;
        }
    }
}


.cert-head{
    margin-left: 6.5rem;
    margin-bottom: 1rem;
}

.certificate{
    padding-bottom: 3.5rem;
    display: flex;
    margin-left: 6.5rem;
    
 
   
    

    .image{
        margin-right: 3.5rem;
    
        
        
    img{
        width: 15rem;
        height: 9rem;
    }

    }

}
}

.service-con{
     background-color: rgb(251, 251, 251);
    padding-top: 2rem;

    .service-head{
        text-align: center;
        padding-bottom: 1.5rem;

    }
   
}

.services{

    display: flex;
    flex-wrap: wrap;
    margin-left: 6.5rem;
    img{
        width: 22rem;
        height: 15rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}



// on hover animation//

.item{
    width: fit-content;
    height: fit-content;
    position: relative;
    display: block;
    overflow: hidden;

   
   
  }
  
  .item .overlay{
    color: #000;
    width: 91.6%;
    height: 86.2%;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    overflow: hidden;
    top: 0; 
    bottom: 0;
  }

  .overlay span img{
    
        width: 180px;
        height: 180px;
  }
  
  /* effect-clean*/
  .clean .overlay span:nth-child(1){
    position: absolute;
    left: 53%;
    top: 3%;
    font-size: 20px;
    z-index: 12;
    font-weight: bold;
    font-family: coustard;
    color: #777;
    transform: translateX(-50%);
  }
  
  .clean .overlay span:nth-child(2){
    position: absolute;
    top: 3%;
    left: 56%;
    transform: translateX(-50%);

  
    a{
        position: absolute;
        top: 85%;
        color:  #6cb1ff;
        width: fit-content;
        padding: 5px;
        display: block;
        border:  1px solid  #6cb1ff;
        left: 10%;
        font-size: 15px;

    }
  }
  
  
  .clean .overlay:hover{
    opacity: 0.8;
  }
  
  .clean .overlay:hover span:nth-child(1){
    animation: slide 0.4s;
  }
  
  .clean .overlay:hover span:nth-child(2){
    animation: slide 0.7s;
  }
  
  .clean .overlay:hover span:nth-child(3){
    animation: line 0.5s forwards;
  }

  @keyframes slide{
    0%   {transform:translateX(-10%);}
    100% {transform:translateX(-50%);}
  }
  
  @keyframes line{
    0%   {width: 0;}
    100% {width: 50%}
  }

  .appoint{
    position: relative;
    .overlay {
        position: absolute;
        bottom: 0;
        background-image: linear-gradient( 135deg, #0654ae 10%, #7ff4ff 100%);
        opacity: 0.9;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .add{
            display: flex;
            padding: 10px;
         
        }

        .content{
            color: #fff;
            margin-top: 2rem;

            
            p{
                font-size: 16px;

                mat-icon{
                    position: relative;
                    top: 12px;
                    font-size: 16px;
                }
            }

            a{
                padding: 15px;
                background-color: rgb(250, 139, 47);
                color: #fff;
                display: block;
                width: 8rem;
                text-align: center;
                border-radius: .4rem;
                margin-top: 2rem;

            }
        }

        .add-img{
            margin-right: 6rem;
           
        }

    }
    .video-size {
        height:350px;
        width:100%;
        overflow:hidden;
    }
    .video-size > video {
        min-width: 100%;
        min-height: 100%;
    }
  
}

.staff{

   padding-bottom: 2rem;

    .staff-head{
        margin-left: 6rem;
        margin-top: 2rem;
        padding-bottom: 1.1rem;

    }

    .card-con{
        display: flex;
        justify-content: center;
       

        .staff-card{
            margin-right: 2.5rem;
            border: 1px solid rgb(243, 242, 242);
            width: 250px;
            height: 320px;

            .staff-img{
                img{
                    width: 250px;
                    height: 200px;
                }
            }


            .content{

                h1{
                    color: rgb(199, 197, 197);
                    text-align: center;
                }

                p {
                    color: #6cb1ff;
                    text-align: center;
                }
            }

        }

      
    }

    a{
        background-color: #6cb1ff;
        margin-top: 2rem;
        margin-left: 79%;
        display: block;
        width: 8rem;
        padding: 10px;
        border-radius: .3rem;
        color: white;
        text-align: center;
    }
}


  




// .banner{
//     background-image: url('/assets/images/banner.jpg');
//     background-size: cover;
//     background-position: center;
//     height: 10rem;
// }



