<div class="home-video">
  <div class="overlay"></div>
  <div class="home-content">
    <h1>Creating Beautiful smiles</h1>
    <p>
      We provide the best denta services at the most affordable prices book an
      appoinment Now
    </p>
    <a [routerLink]="['/appoint']">Book Now</a>
  </div>
</div>

<section>
  <div class="aboutus">
    <div class="content">
      <h1 id="about">About Us</h1>
      <h3>Enhancing Our Natural smiles</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente,
        possimus molestias minima maiores eos odit amet provident magnam sed
        similique repudiandae consequuntur expedita delectus laudantium? Odit
        nemo officia modi natus. Lorem ipsum dolor sit amet consectetur
        adipisicing elie
      </p>
      <a href="">Read More</a>
    </div>
    <div class="about-image">
      <img src="/assets/images/chair.jpg" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quod
        sunt, saepe commodi
      </p>
    </div>
  </div>

  <h3 class="cert-head">We are certified</h3>
  <div class="certificate">
    <div class="image"><img src="/assets/images/cert2.jpg" alt="" /></div>
    <div class="image"><img src="/assets/images/cert2.jpg" alt="" /></div>
    <div class="image"><img src="/assets/images/cert2.jpg" alt="" /></div>
    <div class="image"><img src="/assets/images/cert2.jpg" alt="" /></div>
  </div>
</section>

<!-- <div class="banner">
    
</div> -->
<section class="service-con">
  <div class="service-head">
    <h1 id="services">Services we provide</h1>
    <p>Choose From a diverse selction of detal services. Taking care for your pearly whites is what we do</p>

  </div>
  
    <div class="services">
      <div class="item clean">
        <img src="/assets/images/whitening.jpg" alt="image">
        <div class="overlay">
          <span>Whitening</span>
          <span>
            <img src="/assets/images/whitening.png" alt="">
            <a href="">Book Appoinment</a>
          </span>
         
        </div>
    </div>

    <div class="item clean">
      <img src="/assets/images/canal.jpg" alt="image">
      <div class="overlay">
        <span>Root Canal</span>
        <span>
          <img src="/assets/images/root-canal.png" alt="">
          <a href="">Book Appoinment</a>
        </span>
       
      </div>
  </div>

  <div class="item clean">
    <img src="/assets/images/cleaning.jpg" alt="image">
    <div class="overlay">
      <span>Cleaning</span>
      <span>
        <img src="/assets/images/cleaning.png" alt="">
        <a href="">Book Appoinment</a>
      </span>
     
    </div>
</div>
<div class="item clean">
  <img src="/assets/images/extract.jpeg" alt="image">
  <div class="overlay">
    <span>Extraction</span>
    <span>
      <img src="/assets/images/extration.png" alt="">
      <a href="">Book Appoinment</a>
    </span>
   
  </div>
</div>
<div class="item clean">
  <img src="/assets/images/ven-implant.jpg" alt="image">
  <div class="overlay">
    <span>Venures implant</span>
    <span>
      <img src="/assets/images/venures.png" alt="">
      <a href="">Book Appoinment</a>
    </span>
   
  </div>
</div>
<div class="item clean">
  <img src="/assets/images/brace-implant.png" alt="image">
  <div class="overlay">
    <span>Braces Implant</span>
    <span>
      <img src="/assets/images/braces.jpg" alt="">
      <a href="">Book Appoinment</a>
    </span>
   
  </div>
</div>
    </div>

    </section>

    <div class="appoint">
      <div class="overlay">
        <div class="add">
          <div class="add-img">
            <img src="/assets/images/appoint-smile.png" alt="">
          </div>

          <div class="content">
            <h1>Make An Appoinment</h1>
            <p><mat-icon>done</mat-icon>20% Discount for First timers</p>
            <p><mat-icon>done</mat-icon>10% Discount for patient under 18</p>
            <p><mat-icon>done</mat-icon>Pay For three or more srvices to for aguarantee membership</p>
            <a [routerLink]="['/appoint']">Book Appoinment</a>
          </div>
        </div>
      </div>

      <div class="video-size">
        <video autoplay loop muted>
        <source src="/assets/videos/home-vid2.1.mp4" type="video/mp4">
    </video></div>
      
    </div>

    <div class="staff">
      <div class="staff-head">
        <h1 id="staff">Meet Our Staff</h1>
      </div>
      <div class="card-con">
        <div class="staff-card">
          <div class="staff-img">
            <img src="/assets/images/den1.jpg" alt="">
          </div>
          <div class="content">
            <h1>Dr Tyrone Morris</h1>
            <p>Teeth Whitening</p>
          </div>
        </div>
        <div class="staff-card">
          <div class="staff-img">
            <img src="/assets/images/den2.jpg" alt="">
          </div>
          <div class="content">
            <h1>Dr Alxander williams</h1>
            <p>Root Canal</p>
          </div>
        </div><div class="staff-card">
          <div class="staff-img">
            <img src="/assets/images/den3.jpg" alt="">
          </div>
          <div class="content">
            <h1>Dr Olivia Palmer</h1>
            <p>Teeth cleaning</p>
          </div>
        </div><div class="staff-card">
          <div class="staff-img">
            <img src="/assets/images/den4.jpg" alt="">
          </div>
          <div class="content">
            <h1>Dr Octavious Macleave</h1>
            <p>Tooth extraction</p>
          </div>
        </div>
      </div>
       <a href="">More Details</a>

      
    </div>

    <div class="news">
      <div class="news-head">
        <h1 id="news">Our Latest News</h1>
      </div>
      <div class="main-con">
      <div class="col">
        <div class="first-sec">
          
          <div class="image">
            <img src="/assets/images/canal.jpg" alt="">
          </div>
          <div class="content">
            <h1>Major Teeth extration and repacement</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse officiis sunt quibusdam a provident</p>
          </div>
        </div>

        <div class="first-sec">
          <div class="image">
            <img src="/assets/images/home-img.jpg" alt="">
          </div>
          <div class="content">
            <h1>Major activity at our kids center</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse officiis sunt quibusdam a provident, alias,</p>
          </div>
        </div>
      </div>

      <div class="col2">
        <h1>Video Presentaion</h1>
        <video autoplay loop muted>
          <source src="/assets/videos/home-vid.mp4" type="video/mp4">
      </video>
      </div>
      </div>
    </div>
    

<div class="banner">

</div>


   






