<div class="services" *ngIf="service">
  <div class="services-background">
  </div>

  <div class="service-heading">{{service.serviceName}} Details</div>

  <div class="service-layout">
    <div class="service-content">
      <div class="service-image">
        <div class="blue-background"></div>
        <img src="{{service.serviceImg}}" alt="">
      </div>
      <div class="service-detail">
        <h2>{{service.serviceName}}</h2>
        <p>{{service.serviceDescrip}}</p>
        <div class="price-info">
          <p class="money"><span>Service Cost:</span>{{service.serviceCost | currency}}</p>
        </div>
      </div>
    </div>

    <div class="book-form">
      <form [formGroup]="appointForm" (submit)="onSubmit()">
        <div class="name">
          <div class="first">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput name="first_nm" formControlName="first_nm" placeholder="Ex. 1 Main St, New York, NY" required>
              <mat-hint>Enter You First Name</mat-hint>
              <mat-error *ngIf="appointForm.get('first_nm')?.hasError('required')&& appointForm.get('first_nm')?.touched">Your Firstname is required</mat-error>
            </mat-form-field>
            <input type="hidden" name="serviceId" [(ngModel)]="service._id" formControlName="serviceId">
          </div>
          <div class="sec">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput name="last_nm" formControlName="last_nm" placeholder="Ex. 1 Main St, New York, NY" required>

              <mat-hint>Enter You last Name</mat-hint>
              <mat-error *ngIf="appointForm.get('last_nm')?.hasError('required')&& appointForm.get('last_nm')?.touched">Your lastname is required</mat-error>

            </mat-form-field>
          </div>

        </div>

        <div class="contact">
          <div class="mail">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" formControlName="email" name="email" matInput placeholder="Placeholder">
              <mat-hint>Enter Email Address</mat-hint>
              <mat-error *ngIf=" appointForm.get('email')?.touched">
                <mat-error *ngIf="appointForm.get('email')?.hasError('required')">
                  Please Enter your Email Address</mat-error>
                <mat-error *ngIf="appointForm.get('email')?.hasError('email') && appointForm.get('email')?.touched">
                  Invalid Email Address</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="num">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" name="phoneNumber" placeholder="Ex. 1 Main St, New York, NY" required>

              <mat-hint>Enter phone number</mat-hint>
              <mat-error *ngIf="appointForm.get('phoneNumber')?.hasError('required')&& appointForm.get('phoneNumber')?.touched">Phone number required</mat-error>
            </mat-form-field>
          </div>
        </div>


        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input formControlName="dob" name="dob" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Enter your date of birth</mat-hint>
          <mat-error *ngIf="appointForm.get('dob')?.hasError('required') && appointForm.get('dob')?.touched">
            Date of
            Birth required</mat-error>
        </mat-form-field>


        <mat-form-field hideRequiredMarker class="select-field" appearance="outline">
          <mat-label>Select a Doctor?</mat-label>
          <mat-select formControlName="dentistId" name="dentistId">
            <mat-option *ngFor="let dentist of dentists" value="{{dentist._id}}">Dr{{dentist.first_nm}} {{dentist.last_nm}}</mat-option>
          </mat-select>
          <mat-hint>Choose a Dentist</mat-hint>
          <mat-error *ngIf="appointForm.get('dentistId')?.hasError('required')&& appointForm.get('dentistId')?.touched">Please Select a Service</mat-error>
        </mat-form-field>





        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Age</mat-label>
          <input formControlName="age" matInput placeholder="Ex. 1 Main St, New York, NY" required>
          <mat-hint>Enter your patient's Age</mat-hint>
          <mat-error *ngIf="appointForm.get('age')?.hasError('required') && appointForm.get('age')?.touched">
            Age is required</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Address</mat-label>
          <input type="text" name="address" formControlName="address" matInput placeholder="Placeholder">
          <mat-hint>Enter your Address</mat-hint>

          <mat-error *ngIf="appointForm.get('address')?.hasError('required') && appointForm.get('address')?.touched">
            Address is required</mat-error>
        </mat-form-field>

        <button class="submit-btn" type="submit">Book Appointment</button>
      </form>

    </div>
  </div>
  <div class="banner">

  </div>
</div>