<div class="appointment-form">
  <div class="appoint-form">
    <div class="form-background"></div>
    <div class="book-form">
      <img routerLink="/dentistList" src="/assets/images/close.png" alt="">
      <form *ngIf="dentistForm" [formGroup]="dentistForm">
        <h2>Add Dentist</h2>
        <div class="name">
          <div class="first">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput value="{{dentist.first_nm}}" name="first_nm" formControlName="first_nm" required>
              <mat-hint>Enter You First Name</mat-hint>
              <mat-error *ngIf="dentistForm.get('first_nm')?.hasError('required')&& dentistForm.get('first_nm')?.touched">Your Firstname is required</mat-error>
            </mat-form-field>
          </div>
          <div class="sec">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput value="{{dentist.last_nm}}" name="last_nm" formControlName="last_nm" required>

              <mat-hint>Enter You last Name</mat-hint>
              <mat-error *ngIf="dentistForm.get('last_nm')?.hasError('required')&& dentistForm.get('last_nm')?.touched">Your lastname is required</mat-error>

            </mat-form-field>
          </div>
        </div>
        <div class="contact">
          <div class="mail">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Email</mat-label>
              <input value="{{dentist.email}}" type="email" formControlName="email" name="email" matInput placeholder="Placeholder">
              <mat-hint>Enter Email Address</mat-hint>
              <mat-error *ngIf=" dentistForm.get('email')?.touched">
                <mat-error *ngIf="dentistForm.get('email')?.hasError('required')">
                  Please Enter your Email Address</mat-error>
                <mat-error *ngIf="dentistForm.get('email')?.hasError('email') && dentistForm.get('email')?.touched">
                  Invalid Email Address</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="num">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input value="{{dentist.phoneNumber}}" matInput formControlName="phoneNumber" name="phoneNumber" required>

              <mat-hint>Enter phone number</mat-hint>
              <mat-error *ngIf="dentistForm.get('phoneNumber')?.hasError('required')&& dentistForm.get('phoneNumber')?.touched">Phone number required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Dentist Image </mat-label>
          <input value="{{dentist.docImg}}" formControlName="docImg" matInput required>
          <mat-hint>Enter your doctor's image</mat-hint>
          <mat-error *ngIf="dentistForm.get('docImg')?.hasError('required') && dentistForm.get('docImg')?.touched">
            docImg is required</mat-error>
        </mat-form-field>

        <mat-form-field hideRequiredMarker class="form-field" appearance="outline">
          <mat-label>Dentist Message</mat-label>
          <textarea type="text" value="{{dentist.docDescrip}}" name="docDescrip" formControlName="docDescrip" matInput placeholder="Placeholder"></textarea>
          <mat-hint>Enter your docDescrip</mat-hint>

          <mat-error *ngIf="dentistForm.get('docDescrip')?.hasError('required') && dentistForm.get('docDescrip')?.touched">
            docDescrip is required</mat-error>
        </mat-form-field>
        <button (click)="updateDentist()" class="submit-btn">update Dentist</button>
      </form>
    </div>
  </div>
</div>